<h2><%= book.title %> </h2>

<div class="row mt-4">
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <img src="<%= book.coverImagePath%>" alt="<%= book.title%>" width="200" height="250">
  </div>
  <div class="col-sm-6 text-left h-100">
    <span>Author: <%= book.author %> </span> <br>
    <span>Publish Date: <%= book.publishDate.toDateString() %> </span> <br>
    <span>Page Count: <%= book.pageCount %> </span> <br>
    <span class="text-capitalize">Owner: <%= bookOwner.name  %> </span> <br>
    <span>Description: <%= book.description %> </span> <br>
    <% if(user._id == bookOwner._id + '') { %> 
      <div class="mt-4">
        <a href="/books/<%=book.id%>/edit" class="btn" style="">Edit</a>
        <%- include('../partials/deleteForm', { url: `/books/${book.id}` })%> 
      </div>
    <% } %>

  </div>
</div>
